<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card p-5 shadow-effect bg-secondary-theme">

                <div class="card-body">
                    <div class="text-center">
                        <h3 class="text-theme-primary" >Login</h3>
                        <p>Please Login to your Admin Account to post a new blog</p>
                    </div>

                    <form #loginForm = ngForm >
                        <div class="form-group ">
                            <input
                            type="email" 
                            class="form-control " 
                            placeholder="Email" 
                            ngModel 
                            name="email"
                            #Email="ngModel"
                            email
                            required           
                            [ngClass]="{ 'is-invalid' : Email.touched && Email.invalid}"                 >

                            

                            <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
                                <div *ngIf="Email.errors?.['required']" >
                                    Email Can't Empty
                                </div>
                                <div *ngIf="Email.errors?.['email']" >
                                    Please Enter A Valid Email
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group my-4">
                            <input 
                            type="password" 
                            class="form-control" 
                            placeholder="Password" 
                            ngModel 
                            name="Password"
                            #Password="ngModel"
                            [ngClass]="{ 'is-invalid' : Password.touched && Password.invalid}"
                            required>
                            <i class="fa-light fa-eye "></i>
                            <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">Password Is Required</div>
                        </div>
                        <button class="btn btn-info btn-block btn-theme w-100" [disabled]="loginForm.invalid" [ngClass]="{'btn-disable' : loginForm.invalid }" >Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>