<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme ">
                <div class="card-body text-center">
                    <h3 class="text-theme-secondary">
                        All Blog Posts
                    </h3>
                    <p>From here you can manage your posts</p>

                    <button class="btn bg-theme btn-info  text-white" routerLink="/posts/new" > <i class="fa-regular fa-plus me-1"></i> Add New Post</button>
                    <button class="btn btn-warning ms-2 " routerLink="/" > <i class="fa-duotone fa-person-to-door fa-flip-horizontal me-1"></i>Back To Dashboard</button>

                </div>
            </div>
        </div>
    </div>
</div>